# Ignore IntelliJ IDEA project files
.idea/
*.iml

# Optionally, ignore workspace.xml and tasks.xml only
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries

# Ignore VS configurations
.idea/vcs.xml

target/
